<h2 class = "ui olive center aligned icon header">
  <i class = "edit icon"></i>
  <div class = "ui content">
    Edit
  </div>
</h2>
<hr />
<br />
<%= render "form", billboardmodel: @billboardmodel %>